/* Style the body of the page */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    height: 100%;
}

.landing-page-bg {
    background-image: url('mountains.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.landing-page-title h1 {
    color: #ffffff;
    font-size: 75px;
    padding: 180px;
    text-shadow: 3px 3px #000000;
}

.landing-page-title h2 {
    color: #ffffff;
    margin-top: -240px;
    font-size: 45px;
    text-shadow: 3px 3px #000000;
}

.registration-form-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;

    background-image: url('register-hiking.jpg');
    background-size: cover;
    width: 60%;
    height: 100vh;
    margin: 20px;
    margin-top: 0px;
}

.quote {
    font-size: 30px;
    position: absolute;
    font-weight: bold;
    color: #fff;
    margin-top: 610px;
    margin-left: -280px;
}

.author {
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    color: #fff;
    margin-top: 650px;
    margin-left: 150px;
}

.registration-form-container {
    width: 90%;
    padding-left: 30px;
    color: #ffffff;
    background-color: rgba(74, 129, 147, 0.8);
    margin-top: -28px;
    margin-right: -1300px;
    border-radius: 7.8%;
    padding: 10px 20px;
}

.registration-form-title {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
}

.registration-form {
    max-width: 790px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0); /* Add transparency */
    border-radius: 10px;
    margin-left: -20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.form-group label {
    flex: 1;
    text-align: left;
    margin-right: 15px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group select {
    flex: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-input {
    margin-left: 30px;
}

/* Add styles for the profile groups and adjust margin */
.profile-form-container {
    width: 70%;
    padding-left: 30px;
    color: #ffffff;
    background-color: rgba(74, 129, 147, 0.8);
    margin-top: -28px;
    margin-right: -1500px;
    border-radius: 7.8%;
    padding: 10px 20px;
}

.profile-group {
    display: flex;
    margin-bottom: 10px; /* Adjust the margin as needed */
    align-items: center;
}

.profile-group label {
    flex: 1;
    text-align: left;
    margin-left: 20px;
    margin-right: 5px; /* Adjust the margin between label and data */
    font-weight: bold;
}

.profile-group span {
    flex: 2;
}


.column {
    flex: 1;
}

.column label {
    display: block; /* Display labels as blocks to separate them from inputs */
}

.registration-form, label {
    padding: 10px 15px;
    text-align: left;
    justify-content: center;
}

.gender-options {
    display: flex;
    align-items: right;
    flex-wrap: wrap;
}

.gender-options input[type="radio"] {
    margin-right: 5px;
}

/* Style the buttons */
.landing-page-btn-div {
    padding: 80px;
}

.landing-page-btn {
    width: 160px; /* Set a fixed width for the buttons */
    height: 60px;
    margin: 10px 20px;
    font-size: 15px;
}

button {
    width: 120px; /* Set a fixed width for the buttons */
    height: 40px;
    padding: 10px 20px;
    background-color: #4a8193;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.registration-form-button {
    padding: 30px 20px;
}

.back-btn {
    color: #fff;
}

.back-btn:hover {
    color: #fff;
    opacity: 80%;
}

#submitBtn, .login-submit {
    color: #4a8193;
    background-color: #fff;
}

#submitBtn:hover, .login-submit:hover {
    color: #4a8193;
    background-color: rgb(212, 212, 212);
}

#gender {
    width: 20%;
    height: 25px;
}

#region, #phone, #email,
#username, #password, #confirmpass, select {
    width: 30%; /* Set a fixed width for all input elements */
}


/* Change button color on hover */
button:hover {
    background-color: #407282;
}

.login-title {
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
}

.login-form {
    padding: 10px 65px;
    align-items: center;
}

.login-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

#loginContainer {
    position: fixed;
    top: 0;
    right: 0px; 
    width: 300px;
    height: 100%;
    background: #4a8193;
    transition: right 0.3s ease-in-out; 
    z-index: 1;
}

#loginContainer.active {
    right: 0; 
}

img.logo {
    position: absolute;
    box-shadow: 2px 2px;
}